name: Build and deploy docker image

on: [push]

env:
  DATABASE_TYPE: postgresql
  SKIP_DB_CHECK: 1
  DATABASE_URL: postgresql://umami:umami@db:5432/umami

  PROJECT_ID: cocoon-space-web
  SERVICE_NAME: cocoon-space-umami
  REGION: europe-west1
  REGISTRY: europe-west1-docker.pkg.dev
  REPOSITORY: cocoon-space

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.RUN_SA_KEY }}'

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker for GCP
        run: gcloud auth configure-docker ${{ env.REGISTRY }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          build-args: |
            DATABASE_TYPE=postgresql
          tags: |
            ${{ env.REGISTRY }}/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
            ${{ env.REGISTRY }}/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.SERVICE_NAME }}:latest
          cache-from: type=registry,ref=${{ env.REGISTRY }}/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.SERVICE_NAME }}:latest
          cache-to: type=inline

      - name: Show Output
        run: echo ${{ steps.deploy.outputs.url }}
